html, body {
  width: 280px;
}

button {
  text-align: center;
  margin: 5px;
}

.buttons {
  text-align: center;
}

.stat {
  font-size: 110%;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  color: black;
}

.context {
  font-size: 75%;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  color: black;
}

#req-count, #https-percentage, #since-date {
  display:inline;
}
