html, body {
  width: 110px;
}

button {
	text-align: center;
	margin: 5px;
}

.buttons {
	text-align: center;
}

.stat {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
}
